* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* padding-bottom: 292px; */
  margin-bottom: 10%;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  /* padding-bottom: 200px; */
  margin-bottom: 10%;
  padding-left: 15px;
}

h2 {
  padding-top: 60px;
  text-align: center;
}

p {
  margin: 15px;
}

button {
  display: block;
  margin: 0 auto;
  background: #00669f;
  padding: 15px 37px;
  color: white;
  border: none;
}

.header-top {
  background-color: #1cd1b0;
  height: 38px;
  padding: 10px;
  color: black;
  font-style: normal;
}

.header-bot {
  background-color: #00669f;
  height: 101px;
  padding: 25px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  color: black;
  font-style: normal;
}

.card {
  position: relative;
  width: 300px;
  height: 529px;
  /* padding: 5px; */
  border-radius: 5% 5% 0 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #f3f3f3;
}

.img-background {
  width: 100%;
}

.img-icon {
  position: absolute;
  left: 90px;
  bottom: 282px;
  border-radius: 50%;
}

.like {
  position: absolute;
  top: 16px;
  left: 21px;
  z-index: 1;
}

.footer-background {
  padding: 10px;
  background-color: #00669f;
  color: white;
}

@media (max-width: 768px) {
  header,
  footer,
  body {
    width: 84.9vh;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  header,
  footer,
  body {
    width: 47vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
