footer {
  position: absolute;
  width: 1024px;
  height: 51px;
  left: 0px;
  top: 972px;
  background: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  box-sizing: border-box;
}

header {
  padding: 28px;
  box-sizing: border-box;
  position: absolute;
  width: 1024px;
  height: 101px;
  left: 0px;
  top: 38px;
  background: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.descuentos {
  padding: 10px;
  position: absolute;
  width: 1024px;
  height: 38px;
  left: 0px;
  top: 0px;
  background: #1cd1b0;
  box-sizing: border-box;
}

.header-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

.card {
  position: absolute;
  width: 300px;
  height: 529px;
  left: 32px;
  top: 292px;
}

.card-header {
  width: 300px;
  height: 194px;
  left: 32px;
  top: 292px;
}

.card-body {
  width: 300px;
  height: 336px;
  left: 32px;
  top: 485px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img {
  position: absolute;
  z-index: 1;
  width: 120px;
  height: 120px;
  left: 90px;
  top: 128px;
}

.card-img-heroe {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
}

.card-title {
  position: absolute;
  width: auto;
  height: 32px;
  left: 89px;
  top: 260px;
}

.card-title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}

.card-text {
  position: relative;
  width: 267px;
  height: 113px;
  left: 16px;
  top: 118px;
}

.card-text-history {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #333333;
}

.card-btn {
  position: absolute;
  width: 128.78px;
  height: 48.52px;
  left: 85px;
  bottom: 19px;
  background: #00669f;
  text-align: center;
  padding: 14px;
  box-sizing: border-box;
}

.card-btn-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #f3f3f3;
}

.frame {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 21px;
  top: 15.88px;
}
.img {
  border-radius: 16px 16px 0px 0px;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff9f9;
}

.harly {
  margin-left: 30%;
}

.batman {
  margin-left: 60%;
}
