* {
  margin: 0px;
}

header {
  width: 100%;
  height: 100px;
  background: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

main {
  width: 1024px;
  height: 678px;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
}

footer {
  height: 150px;
  width: 100%;
  background-color: #222222;
  color: #f3f3f3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 234px;
  height: 80px;
}

.company-name {
  width: 132px;
  height: 28px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}

.header-ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #f3f3f3;
}

.delivery {
  width: 490px;
  height: 350px;
  border-radius: 5px;
}

.pedido {
  width: 490px;
  height: 350px;
  border-radius: 5px;
  border: solid 1px black;
}

.delivery-title {
  position: absolute;
  width: 350.64px;
  height: 28px;
  left: 38.98px;
  top: 155px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fc200c;
}

.pedido-background {
  position: absolute;
  margin-top: 26px;
  width: 490px;
  height: 28px;
}
.pedido-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fc200c;
}

.pedido-body {
  width: auto;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 234px;
  height: 80px;
}

ul > li {
  margin-top: 10px;
}
