@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 30px;
}

body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: left 60px top -80px;
  background-size: 450px;
}
main {
  width: 100vw;
  display: flex;
  margin-top: 30px;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  box-sizing: border-box;
}

footer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background: #1e1e26;
}

ul {
  list-style: none;
  line-height: 40px;
}

li,
h6 {
  color: white;
}

li:hover {
  color: #f3603b;
  cursor: pointer;
}

section {
  padding: 20px;
}

.icon-hover:hover {
  filter: invert(46%) sepia(51%) saturate(3125%) hue-rotate(340deg)
    brightness(102%) contrast(91%);
  cursor: pointer;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #b3b2b7;
}

h3 {
  margin-bottom: 21px;
}

#comment-isvisible {
  display: none;
}

.header-nav,
.header-btn,
.isdesktop {
  display: none;
}

.fa-bars {
  font-size: 25px;
}

.ismobile {
  width: 100vw;
}

.logo {
  width: 125px;
  height: 24px;
}

.header-menu {
  height: 24px;
}

.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.035em;
  color: #232c50;
}

.main-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: -0.035em;
  color: #232c50;
}

.btn {
  margin-top: 25px;
  width: 134px;
  height: 44px;
  background: #f3603b;
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  border-radius: 50px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.footer-btn:hover,
.btn:hover,
.bottom-btn:hover {
  background-color: #fdd7cd;
}

.btn-label {
  width: 70px;
  height: 43px;
  border: 0px;
  margin-right: 23px;
  background: #f3603b;
  border-radius: 30px;
  color: white;
}

.article-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article-title {
  width: 95vw;
  justify-content: start;
  border-radius: 30px 0px 0px 30px;
  margin-bottom: 20px;
  background: #fdd7cd;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #233684;
}

.article-text {
  text-align: start;
}

.comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.comment {
  background-color: #fafafa;
  height: 300px;
}

.avatar {
  position: relative;
  bottom: 35px;
  width: 70px;
  height: 70px;
  margin-bottom: -21px;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  gap: 10px;
}

.circle {
  border: 1px solid orange;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.circle-selected {
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50px;
}

.bottom {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #f3613c;
}

.bottom-title {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 48px;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.bottom-btn {
  cursor: pointer;
  margin-top: 25px;
  width: 134px;
  height: 44px;
  background: white;
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  border-radius: 50px;
  color: #f3613c;
  border: 0px;
}

.footer-form {
  display: flex;
  gap: 10px;
}

.footer-input {
  width: 250px;
  height: 44px;
  border: 0px;
  background: #ffffff;
  border-radius: 50px;
  text-align: center;
}

.footer-input:required {
  border-color: #800000;
  border-width: 3px;
}

.footer-btn {
  cursor: pointer;
  width: 70px;
  height: 43px;
  border: 0px;
  margin-right: 23px;
  background: #f3603b;
  border-radius: 30px;
  color: white;
}

.footer-nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.footer-social {
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer-logo {
  text-align: center;
}

.icons-social {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.white {
  filter: invert(99%) sepia(91%) saturate(122%) hue-rotate(196deg)
    brightness(119%) contrast(96%);
}
.copy-desk {
  display: none;
}

@media (min-width: 1440px) {
  body {
    background-image: none;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    height: 274px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  #comment-isvisible {
    display: block;
  }

  .ismobile,
  .slider,
  .burger {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-nav a {
    margin: 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 176.1%;
    color: #242e52;
  }

  .header-btn {
    display: inline;
  }

  .btn-less-margin {
    margin-top: 0px !important;
  }

  .main-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 110px;
  }

  .isdesktop {
    display: inline;
    width: 580px;
    height: 525px;
  }

  .main-section {
    text-align: start;
    width: 480px;
    height: 386px;
  }

  .article-firstcolum {
    text-align: start;
    width: 480px;
  }

  .main-mid {
    display: flex;
    justify-content: space-evenly;
  }

  .article-section {
    width: 553px;
  }

  .article-title {
    color: black;
    width: 100%;
    background-color: white;
  }

  .comments {
    margin-bottom: 180px;
  }

  .comments-rows {
    display: flex;
    margin-top: 74px;
  }

  .comments .btn {
    margin-top: 0px;
  }

  .comment {
    padding: 30px;
  }

  .avatar {
    bottom: 65px;
  }

  .bottom {
    height: 224px;
    flex-direction: row;
    justify-content: space-around;
  }

  .bottom-title {
    width: 510px;
    text-align: start;
  }

  .header-nav-a:hover {
    cursor: pointer;
    color: #808080;
  }

  .footer-social {
    flex-direction: column-reverse;
    height: 200px;
  }

  .icons-social {
    gap: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 70px;
    height: 200px;
  }

  .copy-mobile {
    display: none;
  }

  .copy-desk {
    display: inline;
    text-align: center;
  }

  .footer-social,
  .form,
  .copy-desk {
    width: auto;
  }

  .footer-nav {
    width: 50%;
  }
  .footer-input {
    width: 201px;
  }
}
