body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

header {
  background: #f0a83e;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top {
  display: none;
}

.header-nav {
  display: none;
}

.img-principal {
  width: 100%;
}
