* {
  margin: 0px;
}

ul {
  list-style-type: none;
}

.top {
  width: 1024px;
  height: 20px;
  left: calc(50% - 1024px / 2);
  top: 0px;
  background: #222222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
